<div class="add_choice">
	{{input type="text" name="add_shop" class="add_shop" value=newShop placeholder="Add a new shop" }}     
	<span class ="add_button" {{action 'add_shop' newShop on="click"}}>+</span>		
</div>
<div class="add_choice_message">{{add_message}}</div>     
