<ul>
	{{#each product in products}}  
	    {{#if product.display}}
			<a href="">
				<li class="option">	
					{{product-line product=product detail="show_detail_for_product" image="show_image_for_product"}}                          
				</li>
			</a>	
		{{/if}}
	{{/each}}      
</ul>
